<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logoLight0.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,174},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{6,11}}</string>
                <key>offset</key>
                <string>{-138,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{6,11}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{136,209}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,10},{136,209}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight11.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,176},{142,201}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,18},{142,201}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{134,185}}</string>
                <key>offset</key>
                <string>{52,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,32},{134,185}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,556},{124,167}}</string>
                <key>offset</key>
                <string>{76,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,50},{124,167}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight14.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,433},{98,121}}</string>
                <key>offset</key>
                <string>{89,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,87},{98,121}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight15.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,165},{64,101}}</string>
                <key>offset</key>
                <string>{106,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,95},{64,101}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight16.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,456},{26,19}}</string>
                <key>offset</key>
                <string>{123,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,160},{26,19}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight17.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,174},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{44,71}}</string>
                <key>offset</key>
                <string>{-129,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{44,71}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,48},{68,115}}</string>
                <key>offset</key>
                <string>{-115,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{68,115}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,268},{92,163}}</string>
                <key>offset</key>
                <string>{-104,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{92,163}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,456},{114,185}}</string>
                <key>offset</key>
                <string>{-91,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{114,185}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight6.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,320},{134,199}}</string>
                <key>offset</key>
                <string>{-82,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{134,199}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{134,201}}</string>
                <key>offset</key>
                <string>{-64,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{134,201}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>logoLight8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,211}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,9},{170,211}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
            <key>shunwukong_01.png</key>
            <dict>
                <key>x</key>
                <integer>347</integer>
                <key>y</key>
                <integer>1</integer>
                <key>width</key>
                <integer>51</integer>
                <key>height</key>
                <integer>109</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalWidth</key>
                <integer>85</integer>
                <key>originalHeight</key>
                <integer>-121</integer>
            </dict>
            <key>logoLight9.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{172,209}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,10},{172,209}}</string>
                <key>sourceSize</key>
                <string>{314,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{512,725}</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
